* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

.main {
  height: 100%;
  width: 100%;
  background-color: black;
    display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 100px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;

}
.cursor {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  transition: all linear 0.2s;
  mix-blend-mode: difference;
}
